/06-Code/University Restaurant System 1.5/build/
/06-Code/University Restaurant System 1.5/dist/
/06-Code/University Restaurant System 1.7/nbproject/private/
/06-Code/University Restaurant Control System V.1.10/build/
/06-Code/University Restaurant Control System V.1.10/dist/
/06-Code/University Restaurant Control System V.1.10/nbproject/private/
/06-Code/University Restaurant Control System/build/
/06-Code/University Restaurant Control System/dist/
/06-Code/University Restaurant Control System/nbproject/private/
/06-Code/BDManager/build/
/06-Code/BDManager/dist/
